<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="site/head::head(${commons.site_title()},${commons.google_site_verification()}, ${commons.baidu_site_verification()})"></div>

<body>

<!-- header -->

<div th:replace="site/header::header"></div>

<!-- header --> 

<!-- main -->

<main role="main-home-wrapper" class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
      <h3 class="text-center" style="font: italic 2em Georgia, serif;">English Corner</h3>
      <blockquote>
        <p>
          We become <span style="color: red;">defensive</span> when <span style="color: red;">criticised</span>,
          and apply <span style="color: red;">negative</span> <span style="color: red;">stereotypes</span> to
          others to <span style="color: red;">boost</span> our own <span style="color: red;">esteem</span>.
        </p>
        <footer>一旦受到批评，我们就会为自己辩护，并将他人定格为消极的老套形象，以此增强自己的自尊心。</footer>
      </blockquote>
    </section>
    <th:block th:each="archive,archiveStat : ${archives.records}">
      <th:block th:if="${archiveStat.index == 0}">
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <figure class="effect-oscar">
            <img th:src="${commons.show_thumb(archive.content) ?:commons.randomBlogPic(1322)}" alt="" class="img-responsive"/>
            <figcaption>
              <h2><th:block th:text="${archive.title}" ></th:block></h2>
              <p><th:block th:utext="${commons.fmtdate_en(archive.created)}"></th:block></p>
              <a th:href="${commons.photoPermalink(archive.cid)}">View more</a> </figcaption>
          </figure>
        </section>
      </th:block>
    </th:block>

    <!-- left -->
    <div class="clearfix"></div>
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">
        <th:block th:each="archive,archiveStat : ${archives.records}">
          <th:block th:if="${archiveStat.index != 0 && archiveStat.index % 2 == 1}">
            <li>
              <figure class="effect-oscar">
                <img th:src="${commons.show_thumb(archive.content) ?:commons.randomBlogPic(1322)}" alt="" class="img-responsive"/>
                <figcaption>
                  <h2><th:block th:text="${archive.title}" ></th:block></h2>
                  <p><th:block th:utext="${commons.fmtdate_en(archive.created)}"></th:block></p>
                  <a th:href="${commons.photoPermalink(archive.cid)}">View more</a> </figcaption>
              </figure>
            </li>
          </th:block>
        </th:block>
      </ul>
    </section>

    <!-- right -->
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">
        <th:block th:each="archive,archiveStat : ${archives.records}">
          <th:block th:if="${archiveStat.index != 0 && archiveStat.index % 2 != 1}">
            <li>
              <figure class="effect-oscar">
                <img th:src="${commons.show_thumb(archive.content) ?:commons.randomBlogPic(1322)}" alt="" class="img-responsive"/>
                <figcaption>
                  <h2><th:block th:text="${archive.title}" ></th:block></h2>
                  <p><th:block th:utext="${commons.fmtdate_en(archive.created)}"></th:block></p>
                  <a th:href="${commons.photoPermalink(archive.cid)}">View more</a> </figcaption>
              </figure>
            </li>
          </th:block>
        </th:block>
      </ul>
    </section>
    <div class="clearfix"></div>
  </div>
</main>

<!-- main --> 

<!-- footer -->
<div th:replace="site/footer::footer(${commons.site_title()},${commons.site_record()},${commons.site_url()})"></div>

</body>
</html>