<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luischen.dao.AttachDao">

    <sql id="BASE_TABLE">
        t_attach
    </sql>

    <!-- 用户表 -->
    <sql id="TABLE_USER">
        <include refid="cn.luischen.dao.UserDao.BASE_TABLE"/>
    </sql>

    <!-- 附件的基本列 -->
    <sql id="BASE_COLUMN">
        aa.id, aa.fname, aa.ftype, aa.fkey, aa.author_id, aa.created,
    </sql>

    <!-- 关联查询的用户表需要的字段 -->
    <sql id="REL_USER_COLUMN">
        u.username,
    </sql>


    <!-- 批量新增附件 -->
    <insert id="batchAddAttach" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            fname, ftype, fkey, author_id, created,
        </trim>
        VALUES
        <foreach collection="list" item="AttachDomain" index="index" separator=",">
            (
              <trim suffix="" suffixOverrides=",">
                  #{fname, jdbcType=VARCHAR}, #{ftype, jdbcType=VARCHAR}, #{authorId,jdbcType=INTEGER}, UNIX_TIMESTAMP(NOW()),
              </trim>
            )
        </foreach>
    </insert>

    <!-- 根据主键获取附件信息 -->
    <select id="getAttachById" resultType="cn.luischen.dto.AttachDto">
        SELECT
        <trim suffix="" suffixOverrides=",">
            <include refid="BASE_COLUMN"/>
            <include refid="REL_USER_COLUMN"/>
        </trim>
        FROM
        <include refid="BASE_TABLE"/> AS aa
        LEFT JOIN <include refid="TABLE_USER"/> AS u
        ON aa.author_id = u.uid
        WHERE aa.id = #{id, jdbcType=INTEGER}
    </select>

    <!-- 查找所有的附件 -->
    <select id="getAtts" resultType="cn.luischen.dto.AttachDto">
        SELECT
        <trim suffix="" suffixOverrides=",">
            <include refid="BASE_COLUMN"/>
            <include refid="REL_USER_COLUMN"/>
        </trim>
        FROM
        <include refid="BASE_TABLE"/> AS aa
        LEFT JOIN <include refid="TABLE_USER"/> AS u
        ON aa.author_id = u.uid
        ORDER BY aa.created DESC
    </select>


</mapper>