<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luischen.dao.ContentDao">

    <sql id="BASE_TABLE">
      t_content
    </sql>

    <!-- 用户表 -->
    <sql id="TABLE_USER">
        <include refid="cn.luischen.dao.UserDao.BASE_TABLE"/>
    </sql>

    <!-- 文章的基本列 -->
    <sql id="BASE_COLUMN">
        c.cid, c.title, c.title_pic, c.slug, c.created, c.modified, c.content, c.author_id,
        c.type, c.status, c.tags, c.categories, c.hits, c.comments_num, c.allow_comment,
        c.allow_ping, c.allow_feed
    </sql>

    <!-- 关联查询的用户表需要的字段 -->
    <sql id="REL_USER_COLUMN">
        u.username,
    </sql>

    <resultMap id="archiveDtoMap" type="cn.luischen.dto.ArchiveDto">
        <id column="date" property="date"/>
        <result column="count" property="count"/>
    </resultMap>

    <select id="getArchive" resultMap="archiveDtoMap"
                parameterType="cn.luischen.dto.cond.ContentCond">
        select
            FROM_UNIXTIME(created, '%Y年%m月') as date,
            count(*)                         as count
        from <include refid="BASE_TABLE"/>
        <where>
            type = 'post'
            and status = 'publish'
            <if test="startTime != null">
                AND created &gt;= #{startTime, jdbcType=INTEGER}
            </if>
            <if test="endTime != null">
                AND created &lt;= #{endTime, jdbcType=INTEGER}
            </if>
        </where>
        group by date
        order by date desc
    </select>


</mapper>