<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luischen.dao.LogDao">

    <sql id="BASE_TABLE">
        t_log
    </sql>

    <!-- 基本列 -->
    <sql id="BASE_COLUMN">
        l.id, l.action, l.data, l.author_id, l.ip, l.created
    </sql>


</mapper>