<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luischen.dao.OptionDao">

    <sql id="BASE_TABLE">
        t_option
    </sql>

    <!-- 网站配置基本列 -->
    <sql id="BASE_COLUMN">
        o.name, o.value,o.description
    </sql>

</mapper>